[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
ipdb = "*"
coverage = "*"
behave = "==1.2.5"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
